$black      : #000
$white      : #fff
$text       : #cccccc
$font       : nexa
$blue       : #136aaa
$blueDark   : #0e4d7c
$hoverBlue  : #167dc9
$bgBlue     : #0e4d7c
$gray       : #f6f6f6
$darkgray   : #444444
$red        : #ff0000
$grayDark   : #aaa