$black      : #000
$white      : #fff
$text       : #cccccc
$font       : nexa
$blue       : #136aaa
$blueDark   : #0e4d7c
$hoverBlue  : #167dc9
$bgBlue     : #0e4d7c
$gray       : #f6f6f6
$darkgray   : #444444
$red        : #ff0000
$bgGray     : #1b1b1b
$hoverRed   : #ea3950
$grayDark   : #aaa
$background : #171717
$blackfade01:   rgba(0,0,0, .5)
$blackfade:   rgba(0,0,0, .0)
$buttonselected :   white
$button         :   rgba(225, 225, 225, 0.4)
$fontcolor      :   white
$iconcolor      :   white